*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contenitore{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: red;
  padding: 1% 5% 1% 5%;
}

header > input{
  padding: 5px 40px;
  border-radius: 11px;
  border: none;
}

main{
  background-color: gray;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3%;
}

.poster{
  height: 250px;
  width: 185px;
  margin-bottom: 5%;
  position: relative;
}

.poster img{
  height: 250px;
  width: 185px;
}

.poster:hover{
  opacity: 1;
  z-index: 0;
}

.invisible{
  display: none;
}

.visible{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 250px;
  width: 185px;
  display: flex;
  flex-direction: column;
  padding: 18% 6% 0;
  border: 1px solid white;
}

.visible:hover{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

li{
  list-style: none;
  color: white;
  opacity: 1;
}

.overview{
  overflow: auto;
  text-overflow: ellipsis;
  scrollbar-width: none;
  margin-top: 5px;
}

.film{
margin: 20px;
}

.voto{
  color: yellow;
}

.poster .flag{
  width: 20px;
  height: auto;
}
