*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#contenitore{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: red;
  padding: 1% 5% 1% 5%;
}

header > input{
  padding: 5px 40px;
  border-radius: 11px;
  border: none;
}

main{
  background-color: gray;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5% 7%;
}

.poster  img{
  height: 250px;
  width: 185px;
}

.invisible{
  display: none;
}

.visible{
  display: block;
}

ul{
  display: none;
}

li{
  list-style: none;
}

.film{
margin: 10px;
}

.voto{
  color: yellow;
}

.flag{
  width: 20px;
  height: auto;
}
