<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
    <title>App Boolflix</title>
  </head>
  <body>

    <div id="app">

      <div id="contenitore">

        <header>
          <h2>BOOLFLIX</h2>
          <input type="text" name="" value="" v-model = "cercaFilm" @keyup.enter="cerca()" placeholder="Cerca film e serie tv">
        </header>

        <main>

          <!-- FILM -->
          <!-- prova per vedere il valore che assumeva hover con console log -->
          <!-- VALORE DI HOVER:
          <pre>{{hover}}</pre> -->

          <div class="film" v-for = "(movie , index) in films">
            <div class="poster">
              <img v-if= "movie.poster_path !== null" :src="'https://image.tmdb.org/t/p/w185' + movie.poster_path" alt="" @mouseover="onMouseOver(index)" @mouseleave="hover === false" :class="{ invisible: hover === index }">
              <img v-else src="poster/notfound.png" alt="" @mouseover="onMouseOver(index)" @mouseout="hover === false" :class="{ invisible: hover === index }">

             <ul :class="{ visible: hover === index }">
               <li>Titolo : {{movie.title}}</li>
               <li>Titolo Originale : {{movie.original_title}}</li>
               <li>Voto :
                 <!-- <i class="fas fa-star" :class="{voto: [printVote(movie.vote_average)] >= 1 }" ></i>
                 <i class="fas fa-star" :class="{voto: [printVote(movie.vote_average)] >= 2 }"></i>
                 <i class="fas fa-star" :class="{voto: [printVote(movie.vote_average)] >= 3 }"></i>
                 <i class="fas fa-star" :class="{voto: [printVote(movie.vote_average)] >= 4 }"></i>
                 <i class="fas fa-star" :class="{voto: [printVote(movie.vote_average)] == 5 }"></i> -->
                 <!-- in alternativa e piu pulito con ciclo stampo o stelle colorate o vuote in base funzione printVote -->
                 <i class="fas fa-star voto" v-for = "stelle in printVote(movie.vote_average)"></i>
                 <i class="fas fa-star" v-for = "stelle in (5 - printVote(movie.vote_average))"></i>
                 {{printVote(movie.vote_average)}}
               </li>
               <li>Lingua :
                 {{movie.original_language}}
                 <!-- metodo piu snello senza ripetere troppe volte img e lasciando anche una classe sola -->

                 <img class="flag" :src="'flag/' + movie.original_language + '.svg' " alt="">


                 <!-- <img class="flag" :class="{visibile: movie.original_language === 'en' }" src="flag/en.svg" alt="">
                 <img class="flag" :class="{visibile: movie.original_language === 'es' }" src="flag/es.svg" alt="">
                 <img class="flag" :class="{visibile: movie.original_language === 'it' }" src="flag/it.svg" alt="">
                 <img class="flag" :class="{visibile: movie.original_language === 'fr' }" src="flag/fr.svg" alt="">
                 <img class="flag" :class="{visibile: movie.original_language === 'sv' }" src="flag/sv.svg" alt="">
                 <img class="flag" :class="{visibile: movie.original_language === 'pt' }" src="flag/pt.svg" alt="">
                 <img class="flag" :class="{visibile: movie.original_language === 'de' }" src="flag/de.svg" alt=""> -->
               </li>

               <li class="overview">Overview : {{movie.overview}}</li>
               <!-- oppure  <p> {{ (movie.vote_average !== 0) ? parseFloat(movie.vote_average / 2).toFixed(0) : 0}}</p> -->
             </ul>

            </div>


          </div>

          <!-- SERIE TV -->

          <div class="film" v-for = "(serie,index) in serieTv">

            <div class="poster">

              <img v-if= "serie.poster_path !== null" :src="'https://image.tmdb.org/t/p/w185' + serie.poster_path" alt="" @mouseover="onMouseOver(index)" @mouseleave="hover === false" :class="{ invisible: hover === index }">
              <img v-else src="poster/notfound.png" alt="" @mouseover="onMouseOver(index)" @mouseleave="hover === false" :class="{ invisible: hover === index }">

              <ul :class="{ visible: hover === index }">

                <li>Titolo : {{serie.name}}</li>

                <li>Titolo Originale : {{serie.original_name}}</li>

                <li>Voto :
                  <!-- stelle colorate -->
                  <i v-for = "stelle in printVote(serie.vote_average)" class="fas fa-star voto"></i>
                  <!-- stelle vuote -->
                  <i class="fas fa-star"  v-for = "stelle in (5 - (printVote(serie.vote_average)))" ></i>
                  {{printVote(serie.vote_average)}}
                </li>

                <li>Lingua :
                  {{serie.original_language}}
                  <img class="flag" :src="'flag/' + serie.original_language + '.svg' " alt="">
                </li>

                <li class="overview">Overview : {{serie.overview}}</li>
              </ul>


            </div>


          </div>
        </main>
      </div>


    </div>

    <script type="text/javascript" src="js/script.js"></script>

  </body>
</html>
